!!!!!!!!!!!!!!
! Xft settings
!!!!!!!!!!!!!!

Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!!!!!!!!!!!!!!!!
! URXVT settings
!!!!!!!!!!!!!!!!

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       0
URxvt.lineSpace:            0

URxvt*background:	    Black
URxvt*foreground:	    White

! transparency - true or false (default)
!URxvt*transparent: true

! tint with any color; i.e., blue, red, tomato4, olivedrab2, etc.
!   some nice listings are at:
!     http://www.nisrv.com/drupal/?q=node/11
!     http://www.htmlgoodies.com/tutorials/colors/article.php/3478921
!URxvt*tintColor: S_base03

! shading - 0 to 99 darkens, 101 to 200 lightens.
!   Dont use with tintColor; just use a darker or lighter color instead.

! Monaco Linux font
URxvt*font: xft:FreeMono
URxvt*boldFont: xft:FreeMono:bold
URxvt*letterSpace: 0

! scrollbar - true (default) or false
URxvt*scrollBar: false

! scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: false

! scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain
